@import url('variable.css');

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}
html,body {
    margin: 0;
    width: 100%;
    background-color: var(--main-backgroud-color);
    scroll-behavior: smooth;
}
.hidden {
    display: none;
}
header {    
    background: var(--element-background-color);
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 20px 0;
    -webkit-transition: 0.3s ease-in all;
    -o-transition: 0.3s ease-in all;
    transition: 0.3s ease-in all;
    -webkit-animation: 0.3s ease-in 1 forwards;
    animation: 0.3s ease-in 1 forwards;
}
.header-invisible {
    background: transparent;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}
.header-container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;    
    display: -webkit-box;    
    display: -ms-flexbox;    
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;        
}
.header-container__logo {
    width: 40px;
}    
.main-navigation {
    min-width: 70%;           
}
.navigation-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}  
.navigation-links__link {
    min-width: 15%;    
    display: -webkit-box;    
    display: -ms-flexbox;    
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;    
    border-radius: 5px;    
    -webkit-transition: 0.3s ease-in-out all;    
    -o-transition: 0.3s ease-in-out all;    
    transition: 0.3s ease-in-out all;
}
.navigation-links__link:hover {
    background: var(--light-background-color);
    cursor: pointer;
}
.navigation-links__link a {
    text-decoration: none;
    outline: none;
    font-family: var(--main-font-family);
    color: var(--secondary-text-color);    
    font-size: calc(0.6rem + 0.6vmin);
    padding: 10px;
    width: 100%;
    text-align: center;
}    
.menu-button {
    display: none;
    color: var(--secondary-text-color);
    font-size: calc(1rem + 4vmin);    
}
#checkbox1 {
    display: none;    
}
@-webkit-keyframes moveNavigation {
    from {
        left: 0px;            
    }
    to {
        left: -70vw;
    }
}
@keyframes moveNavigation {
    from {
        left: 0px;            
    }
    to {
        left: -70vw;
    }
}
@-webkit-keyframes moveNavigation2 {
    from {
        left: -70vw;            
    }
    to {
        left: 0px;
    }
}
@keyframes moveNavigation2 {
    from {
        left: -70vw;            
    }
    to {
        left: 0px;
    }
}

.titul-info {
    width: 100%;
    max-width: 100%;
    background-image: url(../images/header.svg);
    background-size: cover;    
    background-repeat: no-repeat;    
    background-position: center;    
    padding-top: 150px;
    min-height: 60vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;       
}
section {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto 100px;
    -webkit-box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
    padding: 0 15px;
}
section~h2, footer>h2 {
    text-align: center;
    font-family: var(--main-font-family);    
    font-size: calc(1.2rem + 1.2vmin);
    color: var(--main-text-color);
}
section.personal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
}
.main-anker {
    text-decoration: none;    
    display: block;
    width: 180px;
    height: 180px;
    border-radius: 50%;    
    margin: 0 auto;    
    position: relative;            
    z-index: 3;    
}
.main-anker:hover {
    background-color: transparent;
}
.main-anker:hover .main-anker__image {    
    -webkit-transform: perspective(1px) translateZ(0) scale(2.5) translateY(20%);    
    transform: perspective(1px) translateZ(0) scale(2.5) translateY(20%);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 5px;        
}
.main-anker::before {
    width: 100%;
    height: 100%;    
    display: block;
    position: absolute;    
    content: '';
    border-radius: 50%;
    z-index: 1;
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
    left: 0;
    top: 0;
    -webkit-animation: anker-blink 1s ease-in 1s infinite;
    animation: anker-blink 1s ease-in 1s infinite;
}
.main-anker:hover::before {
    -webkit-animation: none;
    animation: none;    
}
.main-anker__image {
    width: 100%;    
    height: 100%;    
    background-color: inherit;
    border-radius: 50%;    
    position: relative;
    z-index: 2;         
    background-color: var(--image-background-color);
    -webkit-transition: 0.5s ease-in all;
    -o-transition: 0.5s ease-in all;
    transition: 0.5s ease-in all;
}
@-webkit-keyframes anker-blink {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        background-color: var(--blink-color);        
    }   
    to {        
        -webkit-transform: scale(1.2);        
        transform: scale(1.2);
        background-color: transparent;
    } 
}
@keyframes anker-blink {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        background-color: var(--blink-color);        
    }   
    to {        
        -webkit-transform: scale(1.2);        
        transform: scale(1.2);
        background-color: transparent;
    } 
}
.about-me {
    padding: 10px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: var(--main-font-family);
    color: var(--secondary-text-color);
    font-weight: bold;
}
.about-me__header {    
    font-size: calc(1rem + 1.5vmin);
    margin: 10px 0px;
}
.about-me__text {    
    font-size: calc(0.5rem + 1.2vmin);
    margin: 0 0 10px;
    font-weight: normal;    
}
.buttons-container {    
    display: -webkit-box;    
    display: -ms-flexbox;    
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 20px 0;
}
.buttons-container__button {
    min-width: 140px;    
    margin: 10px;
    padding: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: var(--element-background-color);
    color: var(--secondary-text-color);
    font-family: var(--main-font-family);    
    font-size: calc(0.6rem + 0.6vmin);
    font-weight: normal;
    -webkit-transition: 0.2s ease-in all;
    -o-transition: 0.2s ease-in all;
    transition: 0.2s ease-in all;
    border-radius: 5px;
    text-decoration: none;
}
.buttons-container__button:hover {
    cursor: pointer;
    -webkit-filter: brightness(115%);
    filter: brightness(115%);
}
.social-icon-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transform: translateY(50%);
    -ms-transform: translateY(50%);
    transform: translateY(50%);
}
.social-icon-container__icon {
    background-color: var(--social-background-color);
    border-radius: 50%;    
    padding: 15px;
    margin: 0 20px;
    -webkit-transition: 0.2s ease-in all;
    -o-transition: 0.2s ease-in all;
    transition: 0.2s ease-in all;
    text-decoration: none;
}
.social-icon-container__icon:hover {
    cursor: pointer;
    -webkit-filter: brightness(115%);
    filter: brightness(115%);
}
.social-icon-container__icon_clear {
    background-color: transparent;
    
}
.social-icon-container__icon i {    
    color: var(--secondary-text-color);    
    background-color: var(--social-background-color);
    font-size: calc(1.2rem + 1.2vmin);
}
.social-icon-container__icon_clear i {
    background-color: transparent;
    color: var(--social-background-color);
    font-size: calc(1.3rem + 1.3vmin);
}
.personal-content-container {
    width: 45%;
    color: var(--main-text-color);
    font-family: var(--main-font-family);
}
.personal-content-container__header {
    font-size: calc(1.2rem + 1.2vmin);
}
.personal-content-container__text {
    font-size: calc(0.6rem + 0.6vmin);
    text-align: justify;
}
.personal-info-container {
    width: 45%;
    color: var(--main-text-color);
    font-family: var(--main-font-family);
}
.personal-info-container__header {
    font-size: calc(1.2rem + 1.2vmin);
}
.personal-info-container__text {    
    list-style-type: none;
    padding: 0;
}
.personal-info-container__text > li {
    margin: 20px 0;
}
.personal-info-container__text > li > span:first-child {
    font-weight: bold;
    font-size: calc(0.6rem + 0.6vmin);
    display: inline-block;
    width: 30%;
    text-transform: uppercase;    
}
.personal-info-container__text > li > span:last-child {
    font-size: calc(0.6rem + 0.6vmin);
    display: inline-block;
    width: 65%;    
}
.skills {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (1fr)[5];
    grid-template-rows: repeat(5, 1fr);
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);    
    grid-gap: 5px 20px;
    -webkit-transition: 0.4s ease-in all;
    -o-transition: 0.4s ease-in all;
    transition: 0.4s ease-in all;
    -webkit-transform: translateY(100px);
    -ms-transform: translateY(100px);
    transform: translateY(100px);    
}
.move-skills-block {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}
.progress-container {    
    display: -webkit-box;    
    display: -ms-flexbox;    
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 10px;
    color: var(--element-background-color);
    width: 100%;    
}
.progress-container__name, .progress-container__value {
    -ms-flex-item-align: start;
    align-self: flex-start;
    font-size: calc(0.6rem + 0.6vmin);
    text-transform: uppercase;
    font-family: var(--main-font-family);
}
.progress-container__indicator {
    width: 100%;    
    margin-top: 15px;
}
.indicator {
    height: 5px;
    background-color: var(--progress-background-color);
}
.indicator__value {    
    height: 100%;
    width: 0%;
    background-color: var(--element-background-color);
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
.indicator__value[data-val="50"] {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    --offset: 50%;
}
.indicator__value[data-val="60"] {
    -webkit-animation-duration: 1.2s;
    animation-duration: 1.2s;
    --offset: 60%;
}
.indicator__value[data-val="75"] {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    --offset: 75%;
}
.indicator__value[data-val="80"] {
    -webkit-animation-duration: 1.6s;
    animation-duration: 1.6s;
    --offset: 80%;
}
.indicator__value[data-val="90"] {
    -webkit-animation-duration: 1.8s;
    animation-duration: 1.8s;
    --offset: 90%;
}

.indicator-animation-name {
    -webkit-animation-name: moveIndicator;
    animation-name: moveIndicator;
}

@-webkit-keyframes moveIndicator {
    from {
        width: 0%;
    }
    to {
        width: var(--offset);
    }
}

@keyframes moveIndicator {
    from {
        width: 0%;
    }
    to {
        width: var(--offset);
    }
}
section.work-experience,section.education {
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 0;
}
.work-info-block {
    width: 100%;
    height: 100%;
    -webkit-box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;   
    margin-bottom: 50px; 
}
.work-info-block .data-info,  .work-info-block .data-content{
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
.direction-right {
    --dir: -20%;
}
.direction-left {
    --dir: 20%;
}
.move-block-animation-name {
    -webkit-animation-name: moveBlock;
    animation-name: moveBlock;
}
@-webkit-keyframes moveBlock {
    from {
        -webkit-transform: translateX(var(--dir));
        transform: translateX(var(--dir));
    }        
    to {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }        
}
@keyframes moveBlock {
    from {
        -webkit-transform: translateX(var(--dir));
        transform: translateX(var(--dir));
    }        
    to {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }        
}
.data-info {
    width: 25%;
    background-color: var(--element-background-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 200px;
    color: var(--secondary-text-color);
    font-family: var(--main-font-family);
    -webkit-transform: translateX(-20%);
    -ms-transform: translateX(-20%);
    transform: translateX(-20%);
}
.data-info__value {
    font-weight: normal;
    font-size: calc(0.6rem + 0.6vmin);
    text-align: center;
    padding: 0 5px;
}
.data-info__name {
    font-weight: normal;
    font-size: calc(1rem + 1vmin);
    margin-top: 0;    
    text-align: center;
    padding: 0 5px;
}
.data-content {
    width: 75%;    
    padding: 20px;       
    font-family: var(--main-font-family);
    color: var(--main-text-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;    
    -webkit-transform: translateX(20%);    
    -ms-transform: translateX(20%);    
    transform: translateX(20%);
}
.data-content__header {    
    margin: 0 0 10px;
    font-size: calc(.9rem + .9vmin);
    font-weight: normal;
}
.data-content__text {    
    margin: 0 0 10px;
    font-size: calc(0.6rem + 0.6vmin);
    text-align: justify;
}
.data-content__text a {
    text-decoration: none;
    font-weight: bold;    
    color: var(--blink-color);
    -webkit-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
}
.data-content__text a:hover {
    -webkit-filter: opacity(0.5);
    filter: opacity(0.5);
}
.data-content__text_bold {    
    font-weight: bold;
    font-size: calc(0.8rem + 0.8vmin);    
    margin: 0 0 10px;
}

.slider {
    height: 800px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;    
    -webkit-box-align: center;    
    -ms-flex-align: center;    
    align-items: center;
    padding: 0;
    position: relative;
}
.slider-container:hover {
    width: 100%;
    height: 100%;    
    cursor: pointer;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.slider-container:hover .slider-container__wrapper-image {
    width: 100%;
    height: 100%;    
    left: 0px;
    -webkit-animation: none;
    animation: none;
}
.slider-container:hover .slider-container__image {
    width: 40%;
    height: 40%;    
    left: 30%;
    top: 30%;
    position: absolute;
    -webkit-animation: 0.5s ease-in 1 forwards;
    animation: 0.5s ease-in 1 forwards;
}
.slider-container:hover .slider-container__image:nth-of-type(1) {
    z-index: 10;
    -webkit-animation-name: moveSlide3;
    animation-name: moveSlide3;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}
.slider-container:hover .slider-container__image:nth-of-type(2) {
    -webkit-animation-name: moveSlide1;
    animation-name: moveSlide1;
}
.slider-container:hover .slider-container__image:nth-of-type(3) {
    -webkit-animation-name: moveSlide4;
    animation-name: moveSlide4;
}
.slider-container:hover .slider-container__image:nth-of-type(4) {
    -webkit-animation-name: moveSlide5;
    animation-name: moveSlide5;
}
.slider-container:hover .slider-container__image:nth-of-type(5) {
    -webkit-animation-name: moveSlide2;
    animation-name: moveSlide2;
}
.slider-container {
    width: 800px;
    height: 600px;    
    overflow: hidden;
    position: relative;
    -webkit-box-shadow: inherit;
    box-shadow: inherit;
    z-index: 2;
}
.slider-container__wrapper-image {
    font-size: 0;
    width: 500%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    -webkit-animation: 20s linear infinite;
    animation: 20s linear infinite;
}
.work-slider {
    -webkit-animation-name: workSlider;
    animation-name: workSlider;
}
.slider-container__image {
    width: 20%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: top;
    object-position: top;    
}
.slider-container__image:hover {
    z-index: 100;
}

@-webkit-keyframes workSlider {
    0% {
        left: 0px;
    }
    10% {
        left: 0px;
    }
    20% {
        left: -100%;
    }    
    22% {
        left: -88%;
    }    
    26% {
        left: -100%;
    }
    30% {
        left: -100%;
    }
    40% {
        left: -200%;
    }
    42% {
        left: -188%;
    }    
    46% {
        left: -200%;
    }
    50% {
        left: -200%;
    }
    60% {
        left: -300%;
    }
    62% {
        left: -288%;
    }    
    66% {
        left: -300%;
    }
    70% {
        left: -300%;
    }
    80% {
        left: -400%;
    }
    82% {
        left: -388%;
    }    
    86% {
        left: -400%;
    }
    90% {
        left: -400%;
    }
    100% {
        left: 0px;
    }
}

@keyframes workSlider {
    0% {
        left: 0px;
    }
    10% {
        left: 0px;
    }
    20% {
        left: -100%;
    }    
    22% {
        left: -88%;
    }    
    26% {
        left: -100%;
    }
    30% {
        left: -100%;
    }
    40% {
        left: -200%;
    }
    42% {
        left: -188%;
    }    
    46% {
        left: -200%;
    }
    50% {
        left: -200%;
    }
    60% {
        left: -300%;
    }
    62% {
        left: -288%;
    }    
    66% {
        left: -300%;
    }
    70% {
        left: -300%;
    }
    80% {
        left: -400%;
    }
    82% {
        left: -388%;
    }    
    86% {
        left: -400%;
    }
    90% {
        left: -400%;
    }
    100% {
        left: 0px;
    }
} 
@-webkit-keyframes moveSlide1 {
    from {
        left: 30%;
        top: 30%;
    }
    to {
        left: 10px;
        top: 10px;
    }
} 
@keyframes moveSlide1 {
    from {
        left: 30%;
        top: 30%;
    }
    to {
        left: 10px;
        top: 10px;
    }
}
@-webkit-keyframes moveSlide2 {
    from {
        left: 30%;
        top: 30%;
    }
    to {
        left: calc(60% - 10px);
        top: 10px;
    }
}
@keyframes moveSlide2 {
    from {
        left: 30%;
        top: 30%;
    }
    to {
        left: calc(60% - 10px);
        top: 10px;
    }
}
@-webkit-keyframes moveSlide4 {
    from {
        left: 30%;
        top: 30%;
    }
    to {
        left: 10px;
        top: calc(60% - 10px);
    }
}
@keyframes moveSlide4 {
    from {
        left: 30%;
        top: 30%;
    }
    to {
        left: 10px;
        top: calc(60% - 10px);
    }
}
@-webkit-keyframes moveSlide5 {
    from {
        left: 30%;
        top: 30%;
    }
    to {
        left: calc(60% - 10px);
        top: calc(60% - 10px);
    }
}
@keyframes moveSlide5 {
    from {
        left: 30%;
        top: 30%;
    }
    to {
        left: calc(60% - 10px);
        top: calc(60% - 10px);
    }
}
@-webkit-keyframes moveSlide3 {
    from {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    to {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }
}
@keyframes moveSlide3 {
    from {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    to {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }
}

section.contact-me {    
    max-width: inherit;        
    background-image: url(../images/map_1920.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;    
    padding: 100px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

@-webkit-keyframes show {
    from {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 0;
    }
    to {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes show {
    from {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 0;
    }
    to {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}


.my-contacts {
    width: 100%;
    max-width: 700px;    
    background-color: var(--main-backgroud-color);
    padding: 0 40px 10px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    font-family: var(--main-font-family);
    -webkit-box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
    position: relative;    
    opacity: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-animation: 0.4s ease-in 1 forwards;
    animation: 0.4s ease-in 1 forwards;
}
@keyframes show {
    from {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 0;
    }
    to {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}
.show {
    -webkit-animation-name: show;
    animation-name: show;
}
.my-contacts__header {
    text-align: center;
    width: 100%;        
    font-size: calc(1rem + 1vmin);
    color: var(--main-text-color);
}
.input-data-container {
    width: 45%;
    padding: 0 10px 10px;
}
.input-data-container__header {
    font-size: calc(0.7rem + 0.7vmin);
    color: var(--main-text-color);
    font-weight: bold;
    margin-top: 0;
}
.input-data-container__input {
    outline: none;
    border: 1px solid var(--light-text-color);
    font-family: var(--main-font-family);
    font-size: calc(0.5rem + 0.5vmin);
    color: var(--main-text-color);
}
.input-data-container__input[type="text"], 
.input-data-container__input[type="email"] {
    padding: 10px 10px;
    border-radius: 10px;
    text-indent: 35px;
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: 15px, center; 
    width: 100%;   
    margin-bottom: 10px;
}
.input-data-container__input[type="text"]:nth-of-type(1) {
    background-image: url(../images/user.svg);
}
.input-data-container__input[type="text"]:nth-of-type(2) {
    background-image: url(../images/file.svg);
}
.input-data-container__input[type="email"]
{
    background-image: url(../images/mail.svg);
}
.input-data-container__input::-webkit-input-placeholder {
    font-family: var(--main-font-family);
    font-size: calc(0.5rem + 0.5vmin);
    color: var(--light-text-color);
    padding-left: 10px;
}
.input-data-container__input:-ms-input-placeholder {
    font-family: var(--main-font-family);
    font-size: calc(0.5rem + 0.5vmin);
    color: var(--light-text-color);
    padding-left: 10px;
}
.input-data-container__input::-ms-input-placeholder {
    font-family: var(--main-font-family);
    font-size: calc(0.5rem + 0.5vmin);
    color: var(--light-text-color);
    padding-left: 10px;
}
.input-data-container__input::placeholder {
    font-family: var(--main-font-family);
    font-size: calc(0.5rem + 0.5vmin);
    color: var(--light-text-color);
    padding-left: 10px;
}
.input-data-container textarea {
    resize: none;
    width: 100%;   
    padding: 20px;
    border: none;
    border-bottom: 1px solid var(--light-text-color);
    overflow: hidden;
    line-height: 2;
}

.input-data-container__input[type="submit"] {
    min-width: 100px;      
    margin: 10px;
    padding: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: var(--element-background-color);
    color: var(--secondary-text-color);
    font-family: var(--main-font-family);
    font-size: calc(0.5rem + 0.5vmin);
    font-weight: normal;
    -webkit-transition: 0.2s ease-in all;
    -o-transition: 0.2s ease-in all;
    transition: 0.2s ease-in all;
    border-radius: 5px;       
    text-decoration: none;  
}

.input-data-container__input[type="submit"]:hover {
    cursor: pointer;
    -webkit-filter: brightness(115%);
    filter: brightness(115%);
}
.text-info-container {
    width: 50%;
    padding: 0 0 20px;    
}
.secondary-info {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.secondary-info__data {
    margin: 0 0 30px;    
}
.secondary-info__data span {
    display: block;
}
.secondary-info__data span:nth-of-type(1) {
    font-weight: bold;
    font-size: calc(0.7rem + 0.7vmin);    
}
.secondary-info__data span:nth-of-type(2) {
    font-weight: normal;    
    font-size: calc(0.6rem + 0.6vmin);
}

footer {
    font-family: var(--main-font-family);
}
footer .social-icon-container {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
}
footer p {
    text-align: center;
    font-size: calc(0.6rem + 0.6vmin);
    color: var(--main-text-color);
}

@media (max-width: 1440px) {
    html, body {
        font-size: 14px;
    }
}    

@media (max-width: 1200px) {
    html, body {
        font-size: 12px;
    }
    .header-container {
        max-width: 90%;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }    
    section {
        max-width: 90%;
        width: 90%;
    }
    section.titul-info, section.contact-me {
        width: 100%;
    }
    .slider {
        height: 500px;
    }    
    .slider-container {
        width: 700px;
        height: 400px;
    }
}   

@media (max-width: 1024px) {
    html, body {
        font-size: 9px;
    }
}    

@media (max-width: 768px) {
    html, body {
        font-size: 16px;
    }
    .main-anker:hover .main-anker__image {    
        -webkit-transform: scale(1.5);    
        -ms-transform: scale(1.5);    
        transform: scale(1.5);        
    }    
    header {
        padding-left: 20px;
        padding-right: 20px;
    }
    .main-navigation {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: absolute;        
        top: 0;
        left: 100%;
        height: 100vh;
        width: 70vw;
        min-width: 0px;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;      
        -webkit-box-orient: vertical;      
        -webkit-box-direction: normal;      
        -ms-flex-direction: column;      
        flex-direction: column;
        background: var(--adaptive-menu-background-color);        
        padding-top: 100px;
    }    
    #button1 {
        display: block;
    }
    .navigation-links {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        flex-direction: column;        
        width: 100%;
        padding: 0 20px 0 20px;

    }
    .navigation-links__link {
        width: 100%;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        font-size: calc(0.8rem + 0.8vmin);
        margin: 10px 0;
    }
    .navigation-links__link a {
        width: 100%;
        text-align: left;
    }        
    #checkbox1:checked + header {    
        -webkit-animation-name: moveNavigation;    
        animation-name: moveNavigation;    
    }
    #checkbox1:not(checked) + header {    
        -webkit-animation-name: moveNavigation2;    
        animation-name: moveNavigation2;
    }
    #checkbox1:checked + header .fa-bars:before {    
        content: "\f00d";        
    }
    #checkbox1:not(checked) + header .fa-bars:before {    
        content: "\f0c9";        
    }

    section:not(.titul-info) {
        width: 90%;
        margin: 0 auto 100px;
    }
    section.contact-me {
        width: 100%;
        margin: 0;
    }
    .my-contacts {
        width: 90%;
    }
    section.personal {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;        
        margin-top: 100px;
    }
    .personal-content-container {
        width: 100%;   
    }    
    .personal-info-container {
        width: 100%;   
    }    

    .slider {
        height: 300px;
    }    
    .slider-container {
        width: 90%;
        height: 200px;
    }
}

@media (max-width: 480px) {
    html, body {
        font-size: 16px;
    }
    .skills {        
        -ms-grid-rows: (1fr)[10];        
        grid-template-rows: repeat(10, 1fr);
        -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);            
    }   
    .work-info-block {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .data-content {
        width: 100%;
    }
    .data-info {
        width: 100%;
        min-height: 100px;
    }
    .my-contacts {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .input-data-container {
        width: 90%;
    }
    .text-info-container {
        width: 90%;
    }

}